@import "$yo-config/core/reset";
@import "$yo-config/layout/yo-root";
@import "$yo-config/layout/yo-flex";
@import "$yo-config/element/yo-btn";

@include yo-btn(
    $name: light,
    $border-width: 1px,
    $border-color: #666,
    $bgcolor: #fff,
    $color: #333
){
    margin: .1rem;
};

.yo-list-fullscreen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
#cid{
    height:100%;
    width:100%;
}